[Unit]
Description=Monthly MegaRAID health summary

[Timer]
OnCalendar=*-*-01 09:00:00
Persistent=true
RandomizedDelaySec=30min
Unit=check-megaraid-monthly.service

[Install]
WantedBy=timers.target
